@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Orbitron:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
header{
    background-image: url(./assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}
nav{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brand h2{
    color: #c0e8ff;
}
nav .menu ul li{
    display: inline-block;
    padding: 18px;
}
nav .menu ul li a{
    color: #c0e8ff;
    text-decoration: none;
    font-size: 1.2rem;
}
.btn{
    padding: 16px;
    border-radius: 5px;
    background-color: #2fb3ff;
    margin-top: 30px;
    text-align: center;
}
.btn a{
    text-decoration: none;
    color: #ffffff;
}
.intro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 100px 0;
}
.left h2{
    width: 70%;
    font-size: 3rem;
    color: #ffffff;
}
.left p{
    color: #ededed;
    margin: 10px 0;
}
.left .btn-round{
    margin: 30px 0;
}
.left .btn-round a{
    display: inline-block;
    padding: 16px;
    margin-right: 10px;
    background-color: #2fb3ff;
    color: #ffffff;
    border-radius: 10px;
    /* border: 1px solid #ffffff; */
    text-decoration: none;
}
/* right */
.title{
    text-align: center;
    margin: 20px;
}
.inputBox{
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius:5px;
}
.inputBox .inputField{
    width: 100%;
}
.inputBox .inputField input, .inputBox .inputField select{
    padding: 12px 16px;
    background-color: #e8e8e8;
    font-weight: 500;
    border: none;
    outline: none;
    font-size: 1.2rem;
}
.inputBox .inputField input, 
.inputBox .inputField label, 
.inputBox .inputField select{
    display: block;
    width: 100%;
    margin: 8px 0;
}
.leadingBox{
    width: 100%;
    background-color: #ffffff;
    padding: 50px 0;
}
.leading{
    width: 600px;
    margin: 2rem auto;
    text-align: center;
    padding: 2rem 0;
}
.leading h2{
    font-size: 2.5rem;
}
.flex{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
    margin-top: 30px;
}
.card, .cardItem{
    width: 350px;
    min-height: 250px;
    background-color: #ffffff;
    border: 1px solid #2fb3ff;
    border-radius: 20px;
    overflow: hidden;
    /* padding: 30px; */
}
.card .card-icon{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    background-color: #2fb3ff;
}
.card .card-icon > i{
    padding: 20px;
    font-size: 2rem;
    border-radius: 50%;
    background-color: #ffffff;
    color: #2fb3ff;
}
.card-list{
    padding: 30px 20px;
}
.card-list ul li{
    list-style: none;
    line-height: 2.3rem;
}
.card-list ul li a{
    text-decoration: none;
    color: #2fb3ff;
    font-size: 1.2rem;
}
.cardItem{
    padding: 20px;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px #c2c2c2;
}
.cardItem .cardStar{
    margin: 20px 0;
}
.cardItem .cardStar i{
    font-size: 1.5rem;
    color: orange;
}
.cardItem .carText{
    margin: 10px 0;
    text-align: justify;
    line-height: 1.8rem;
}
.img{
    margin-top: 20px;
}
/* faqs style */
.custom_card{
    width: 400px;
    min-height: 100px;
}
.custom_icon{
    font-weight: 600;
}
.custom_card > .custom_icon::before{
    content: url("./assets/arrow.png");
    margin-right: 10px;
}
.faqs_desc{
    color: gray;
    margin-left: 20px;
}
/* price style */
.item{
    width: 350px;
    /* background-color: crimson; */
    padding: 30px;
    border: 3px solid #2fb3ff;
    border-radius: 3px;
    margin: 10px 1px;
}
.dark{
    background-color: #1a1834;
    color: #fff;
    height: 630px;
}
.price_title h1, .price_title p{
    text-align: center;
    font-size: 2.5rem;
    margin: 1.5rem 0;
}
.price_title p{
    font-size: 1rem;
}
.price p{
    text-align: center;
    color: #2fb3ff;
    font-weight: 600;
}
.price .rupee{
    font-size: 2.5rem;
    margin: 0;padding: 0;
}
.price .month{
    font-size: 1rem;
    margin: 0; padding: 0;
}
.price .symbol{
    font-size: 1rem !important;
}
.item .list > li{
    list-style: none;
}
.item .list li img{
    margin-top: 10px;
    width: 25px;
}
/* subscribe section */
.subscribeBox{
    width: 100%;
    background-color: #1a1834;
    min-height: 330px;
}
.s_flex{
    width: 95%;
    margin:0 auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}
.s_flex > .left{
    width: 50%;
}
.s_btn{
    display: flex;
    justify-content: space-around;
    width: 420px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}
.s_btn input{
    outline: none;
    width: 300px;
    padding: 18px;
    font-size: 1.2rem;
    border: none;
    background-color: #fff;
}
::placeholder{
    font-weight: 500;
}
.s_btn .link{
    width: 180px;
    padding: 16px;
    font-weight: 500;
    text-align: center;
    font-size: 1.1rem;
    background-color: #2fb3ff;
    text-decoration: none;
    color: #fff;
}
/* ===============footer style======== */
.footerMenu{
    width: 90%;
    min-height: 330px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 70px;
    flex-wrap: wrap;
}
.footerMenu .footerItem{
    width: 280px;
    margin: 10px;
}
.footerMenu .footerItem p{
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1rem;
    color: #777777;
}
.f_icon{
    margin-top: 1rem;
}
.f_icon a{
    margin: 0 .5rem;
    color: #2fb3ff;
}
.f_icon a i{
   font-size: 1.5rem;
}
.footerItem .f_title{
    text-transform: capitalize;
    font-size: 1.6rem;
}
.f_link li{
    list-style: none;
}
.f_link li a{
    text-decoration: none;
    font-size: 1rem;
    line-height: 2.6rem;
    color: #777777;
    transition: .5s ease;
    font-weight: 500;
}
.f_link li a:hover{
    color: #000000;
}
.copyright{
    color: gray;
    text-align: center;
    padding: 3rem 0;
    font-family: monospace;
    font-size: 1.3rem;
}
@media screen and (max-width:1000px) {
    .inputBox{
        width: 500px;
    }
    .s_flex > .left{
        width: 100%;
    }
    .copyright{
        padding: 2rem 0;
        font-size: 1rem;
    }
}